<section data-ng-controller="PodcastsController">
	<form class="form-horizontal col-md-6" role="form" data-ng-submit="create()">
		<div class="form-group">
			<label for="title" class="col-md-2 control-label">Title</label>
			<div class="col-md-10">
				<input type="text" class="form-control" data-ng-model="title" id="title" placeholder="Title" />
			</div>
		</div>

		<div class="form-group">
			<label for="url" class="col-md-2 control-label">Url</label>
			<div class="col-md-10" ng-if="!err.errors.url">
				<input type="url" class="form-control" data-ng-model="url" id="url" placeholder="Url" required />
			</div>
			<div class="col-md-10 has-error has-feedback" ng-if="err.errors.url">
				<input type="url" class="form-control" data-ng-model="url" id="url" placeholder="Url" required />
  				<label class="control-label" for="url">{{err.errors.url.message}}</label>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<button type="submit" class="btn btn-default">Submit</button>
			</div>
		</div>
	</form>
</section>