<section data-ng-controller="PodcastsController" data-ng-init="findFollowed()">
    <ul class="nav nav-tabs">
        <li><a href="#!/podcasts">All</a></li>
        <li class="active"><a href="#!/podcasts/followed">Followed</a></li>
        <li><a href="#!/podcasts/liked">Liked</a></li>
        <li><a href="#!/podcasts/starred">Starred</a></li>
    </ul>

    <h1>Followed podcasts</h1>
    <ul class="media-list">
        <li class="media" data-ng-repeat="userPodcast in userPodcasts">
            <a class="pull-left" href="#">
                <img class="media-object img-circle" src="{{userPodcast.podcast.imageUrl}}" alt="{{userPodcast.podcast.imageTitle}}" title="{{userPodcast.podcast.imageTitle}}" width="120" ng-if="userPodcast.podcast.imageUrl" />
                <img class="media-object img-circle" src="data:image/png;base64," data-src="holder.js/120x120/auto/sky" width="120" ng-if="!userPodcast.podcast.imageUrl" />
            </a>
            <div class="media-body">
                <h4 class="media-heading">
                    <a data-ng-href="#!/podcasts/{{userPodcast.podcast._id}}" ng-if="userPodcast.podcast.title">{{userPodcast.podcast.title}}</a>
                    <a data-ng-href="#!/podcasts/{{userPodcast.podcast._id}}" ng-if="!userPodcast.podcast.title">Unknown title</a>
                </h4>
                <p ng-if="userPodcast.podcast.subtitle">{{userPodcast.podcast.subtitle}}</p>
                <p ng-if="!userPodcast.podcast.subtitle">There is no subtitle for this podcast</p>
                <span class="lastUpdated"><em>{{ userPodcast.podcast.updated | date:'yyyy-MM-dd' }}</em></span>
            </div>
        </li>
    </ul>
    <h1 data-ng-hide="!userPodcasts || userPodcasts">No podcasts yet. <br /> Why dont't you <a href="/!/podcasts/add">Add one</a>?</h1>
</section>