<section data-ng-controller="PodcastsController" data-ng-init="find()">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#!/podcasts">All</a></li>
        <li><a href="#!/podcasts/followed">Followed</a></li>
        <li><a href="#!/podcasts/liked">Liked</a></li>
        <li><a href="#!/podcasts/starred">Starred</a></li>
    </ul>

    <h1>All podcasts</h1>
	<ul class="media-list">
		<li class="media" data-ng-repeat="podcast in podcasts">
			<a class="pull-left" href="#">
				<img class="media-object img-circle" src="{{podcast.imageUrl}}" alt="{{podcast.imageTitle}}" title="{{podcast.imageTitle}}" width="120" ng-if="podcast.imageUrl" />
				<img class="media-object img-circle" src="data:image/png;base64," data-src="holder.js/120x120/auto/sky" width="120" ng-if="!podcast.imageUrl" />
			</a>
			<div class="media-body">
				<h4 class="media-heading">
					<a data-ng-href="#!/podcasts/{{podcast._id}}" ng-if="podcast.title">{{podcast.title}}</a>
					<a data-ng-href="#!/podcasts/{{podcast._id}}" ng-if="!podcast.title">Unknown title</a>
				</h4>
				<p ng-if="podcast.subtitle">{{podcast.subtitle}}</p>
				<p ng-if="!podcast.subtitle">There is no subtitle for this podcast</p>
				<span class="lastUpdated"><em>{{ podcast.updated | date:'yyyy-MM-dd' }}</em></span>
			</div>
		</li>
	</ul>
	<h1 data-ng-hide="!podcasts || podcasts.length">No podcasts yet. <br /> Why dont't you <a href="/!/podcasts/add">Add one</a>?</h1>
</section>