<section data-ng-controller="PodcastsController" data-ng-init="findOne()">
	<div class="row">
		<div class="col-md-4">
			<a href="#" class="thumbnail">
				<img ng-if="podcast.imageUrl" src="{{podcast.imageUrl}}" alt="{{podcast.imageTitle}}" title="{{podcast.imageTitle}}" class="img-rounded img-responsive" />
				<img ng-if="!podcast.imageUrl" data-src="holder.js/350x350/auto/industrial/text:no image" class="img-rounded img-responsive" holder-fix />
			</a>

            <div>
                <button type="button" data-ng-click="follow();" ng-if="!userPodcast.following" class="btn btn-lg btn-labeled btn-success">
                    <span class="btn-label"><i class="glyphicon glyphicon-bookmark"></i></span>Follow
                </button>
                <button type="button" data-ng-click="unfollow();" ng-if="userPodcast.following" class="btn btn-lg btn-labeled btn-danger">
                    <span class="btn-label"><i class="glyphicon glyphicon-bookmark"></i></span>Unfollow
                </button>
                <button type="button" data-ng-click="star();" ng-if="!userPodcast.starred" class="btn btn-lg btn-labeled btn-success">
                    <span class="btn-label"><i class="glyphicon glyphicon-star"></i></span>Star
                </button>
                <button type="button" data-ng-click="unstar();" ng-if="userPodcast.starred" class="btn btn-lg btn-labeled btn-danger">
                    <span class="btn-label"><i class="glyphicon glyphicon-star"></i></span>Unstar
                </button>
            </div>

            <div>
                <div class="ui-group-buttons">
                    <a href="javascript:void(0)" ng-if="userPodcast.rating==1" data-ng-click="unrate();" class="btn btn-success selected" role="button"><span class="glyphicon glyphicon-thumbs-up"></span></a>
                    <a href="javascript:void(0)" ng-if="userPodcast.rating!=1" data-ng-click="like();" class="btn btn-success" role="button"><span class="glyphicon glyphicon-thumbs-up"></span></a>
                    <div class="or"></div>
                    <a href="javascript:void(0)" ng-if="userPodcast.rating==-1" data-ng-click="unrate();" class="btn btn-danger selected" role="button"><span class="glyphicon glyphicon-thumbs-down"></span></a>
                    <a href="javascript:void(0)" ng-if="userPodcast.rating!=-1" data-ng-click="dislike();" class="btn btn-danger" role="button"><span class="glyphicon glyphicon-thumbs-down"></span></a>
                </div>
                <button type="button" data-ng-click="fetch();" class="btn btn-lg btn-labeled btn-danger">
                    <span class="btn-label">
                        <i class="glyphicon glyphicon-refresh" ng-if="!updating"></i>
                        <i class="glyphicon glyphicon-refresh rotate-animation" ng-if="updating"></i>
                    </span>Update
                </button>
            </div>

			<h3>Info</h3>
			<span>Added: {{podcast.created | date:'yyyy-MM-dd'}}</span>
			<br />
			<span>Updated: {{podcast.updated | date:'yyyy-MM-dd'}}</span>
			<br /><br />
			<span ng-if="podcast.language">Language: <span class="language">{{podcast.language}}</span></span>
			<br />
			<span ng-if="podcast.ownerName">Owner: <a href="mailto:{{podcast.ownerEmail}}" title="{{podcast.ownerName}}">{{podcast.ownerName}}</a></span>
			<h4>Links</h4>
			<ul>
				<li><a href="{{podcast.url}}">Feed</a></li>
				<li><a href="{{podcast.link}}">Site</a></li>
			</ul>
			<h4>Tools</h4>
			<div class="tools">
				<a class="btn" href="/#!/podcasts/{{podcast._id}}/edit">
					<span class="glyphicon glyphicon-edit"></span> Edit
				</a>
				<br />
				<a class="btn" data-ng-click="remove();">
					<span class="glyphicon glyphicon-trash"></span> Remove
				</a>
			</div>
		</div>
		<div class="col-md-8">
			<ol class="breadcrumb">
				<li><a href="/#!/">Home</a></li>
				<li><a href="/#!/podcasts">Podcasts</a></li>
				<li class="active">{{podcast.title}}</li>
			</ol>

			<div class="page-header">
				<h1>{{podcast.title}} <small ng-if="podcast.author">{{podcast.author}}</small></h1>
			</div>
			<div class="alert alert-info" ng-if="podcast.complete">
				<strong>Complete</strong> This podcast is discontinued
			</div>
			<div class="alert alert-warning" ng-if="podcast.explicit">
				<strong>Explicit</strong> Parental advisory
			</div>
			<div class="panel panel-default" ng-if="podcast.description">
				<div class="panel-body">
					{{podcast.description}}
				</div>
				<div class="panel-footer">{{podcast.copyright}}</div>
			</div>
			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="panel-heading">Episodes</div>

				<!-- Table -->
				<table class="table" id="episodes">
			    <thead>
            <th></th>
            <th>Title</th>
            <th>Published</th>
			    </thead>
          <tbody>
            <tr class="episode" ng-repeat="episode in podcast.episodes">
              <td class="quick-actions">
                  <button type="button" class="btn btn-success btn-circle" data-ng-click="restoreEpisode($index, episode._id);" ng-if="!episode.userEpisodes[0] || episode.userEpisodes[0].archived">
                      <i class="glyphicon glyphicon-plus"></i>
                  </button>
                  <button type="button" class="btn btn-danger btn-circle" data-ng-click="archiveEpisode($index, episode._id);" ng-if="!episode.userEpisodes[0] || !episode.userEpisodes[0].archived">
                      <i class="glyphicon glyphicon-book"></i>
                  </button>
              </td>
              <td class="title">
                  <a href="/#!/episodes/{{ episode._id }}" ng-if="!episode.userEpisodes[0].archived">{{ episode.title }}</a>
                  <a href="/#!/episodes/{{ episode._id }}" ng-if="episode.userEpisodes[0].archived" class="text-muted">{{ episode.title }}</a>
                  <span class="badge" ng-if="podcast.updated == episode.created">New</span>
                  <span class="badge alert-success" ng-if="episode.userEpisodes[0].rating > 0">+1</span>
                  <span class="badge alert-danger" ng-if="episode.userEpisodes[0].rating < -1">-1</span>
                  <span class="badge alert-warning" ng-if="episode.userEpisodes[0] && episode.userEpisodes[0].starred">Starred</span>
                  <span class="badge alert-success" ng-if="episode.userEpisodes[0] && !episode.userEpisodes[0].archived">Unarchived</span>
              </td>
              <td class="publishedDate">{{ episode.published }}</td>
            </tr>
          </tbody>
				</table>
			</div>
		</div>
	</div>
</section>
