<div class="" data-ng-controller="HeaderController">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">PodR</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse collapse">
            <ul class="navbar-nav nav">
                <li data-ng-repeat="item in menu" data-ng-show="global.user" ui-route="/{{item.link}}" ng-class="{active: $uiRoute}">
                    <a href="#!/{{item.link}}">{{item.title}}</a>
                </li>
            </ul>
            <ul class="navbar-nav nav pull-right" data-ng-hide="global.authenticated">
                <li><a href="/signup">Signup</a></li>
                <li class="divider-vertical"></li>
                <li><a href="/signin">Signin</a></li>
            </ul>
            <p class="navbar-text navbar-right"><a class="navbar-link">V0.2.4</a></p>
            <ul class="navbar-nav nav pull-right" data-ng-show="global.authenticated">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {{global.user.name}} <strong class="caret"></strong>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/signout">Signout</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</div>