<section data-ng-controller="EpisodesController" data-ng-init="findLiked()">
    <ul class="nav nav-tabs">
        <li><a href="#!/episodes">Latest</a></li>
        <li class="active"><a href="#!/episodes/liked">Liked</a></li>
        <li><a href="#!/episodes/starred">Starred</a></li>
        <li><a href="#!/episodes/unarchived">Unarchived</a></li>
    </ul>

    <h1>Liked episodes</h1>
    <ul class="media-list">
        <li class="media" data-ng-repeat="userEpisode in userEpisodes">
            <a class="pull-left" href="#">
                <img class="media-object img-circle" src="{{userEpisode.episode.imageUrl}}" alt="{{userEpisode.episode.imageTitle}}" title="{{userEpisode.episode.imageTitle}}" width="120" ng-if="userEpisode.episode.imageUrl" />
                <img class="media-object img-circle" data-src="holder.js/120x120/auto/industrial/text:no image" width="120" ng-if="!userEpisode.episode.imageUrl" holder-fix />
            </a>
            <div class="media-body">
                <h4 class="media-heading">
                    <a data-ng-href="#!/episodes/{{userEpisode.episode._id}}" ng-if="userEpisode.episode.title">{{userEpisode.episode.title}}</a>
                    <a data-ng-href="#!/episodes/{{userEpisode.episode._id}}" ng-if="!userEpisode.episode.title">Unknown title</a>
                </h4>
                <p ng-if="userEpisode.episode.subtitle">{{userEpisode.episode.subtitle}}</p>
                <p ng-if="!userEpisode.episode.subtitle">There is no subtitle for this episode</p>
                <span class="published"><em>{{ userEpisode.episode.published | date:'yyyy-MM-dd' }}</em></span>
            </div>
        </li>
    </ul>
    <h1 data-ng-hide="!userEpisodes || userEpisodes">No episodes yet.</h1>
</section>