<section data-ng-controller="EpisodesController" data-ng-init="find()">
    <h1>Latest episodes</h1>
    <ul class="media-list">
        <li class="media" data-ng-repeat="episode in episodes">
            <a class="pull-left" href="#">
                <img class="media-object img-circle" src="{{episode.imageUrl}}" alt="{{episode.imageTitle}}" title="{{episode.imageTitle}}" width="120" ng-if="episode.imageUrl" />
                <img class="media-object img-circle" src="data:image/png;base64," data-src="holder.js/120x120/auto/sky" width="120" ng-if="!episode.imageUrl" />
            </a>
            <div class="media-body">
                <h4 class="media-heading">
                    <a data-ng-href="#!/episodes/{{episode._id}}" ng-if="episode.title">{{episode.title}}</a>
                    <a data-ng-href="#!/episodes/{{episode._id}}" ng-if="!episode.title">Unknown title</a>
                </h4>
                <p ng-if="episode.subtitle">{{episode.subtitle}}</p>
                <p ng-if="!episode.subtitle">There is no subtitle for this episode</p>
                <span class="published"><em>{{ episode.published | date:'yyyy-MM-dd' }}</em></span>
            </div>
        </li>
    </ul>
    <h1 data-ng-hide="!episodes || episodes.length">No episodes yet.</h1>
</section>