<section data-ng-controller="EpisodesController" data-ng-init="find()">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#!/episodes">Latest</a></li>
        <li><a href="#!/episodes/liked">Liked</a></li>
        <li><a href="#!/episodes/starred">Starred</a></li>
        <li><a href="#!/episodes/unarchived">Unarchived</a></li>
    </ul>

    <h1>Latest episodes</h1>
    <ul class="episode-list">
      <li data-ng-repeat="episode in episodes">
        <time datetime="{{ episode.published | date:'yyyy-MM-dd' }}">
          <span class="day">{{ episode.published | date:'d' }}</span>
          <span class="month">{{ episode.published | date:'MMM' }}</span>
          <span class="year">{{ episode.published | date:'yyyy' }}</span>
          <span class="time">ALL DAY</span>
        </time>
        <img class="media-object" src="{{episode.imageUrl}}" alt="{{episode.imageTitle}}" title="{{episode.imageTitle}}" width="120" ng-if="episode.imageUrl" />
        <img class="media-object" data-src="holder.js/120x120/auto/industrial/text:no image" width="120" ng-if="!episode.imageUrl" holder-fix />
        <div class="info">
          <h2 class="title">
            <a data-ng-href="#!/episodes/{{episode._id}}" ng-if="episode.title">{{episode.title}}</a>
            <a data-ng-href="#!/episodes/{{episode._id}}" ng-if="!episode.title">Unknown title</a>
          </h2>
          <p class="panel-body" ng-if="episode.subtitle" ng-bind-html="episode.subtitle"></p>
          <p class="desc" ng-if="!episode.subtitle">There is no subtitle for this episode</p>
          <!--<ul>
            <li style="width:50%;"></li>
            <li style="width:50%;"></li>
          </ul>-->
        </div>
        <div class="social">
          <!--<ul>
            <li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
            <li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
            <li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>
          </ul>-->
        </div>
      </li>
    </ul>
    <h1 data-ng-hide="!episodes || episodes.length">No episodes yet.</h1>
</section>
