<section data-ng-controller="EpisodesController" data-ng-init="findOne()">
    <div class="row">
        <div class="col-md-4">
            <a href="#" class="thumbnail">
                <img ng-if="episode.imageUrl" src="{{episode.imageUrl}}" alt="{{episode.imageTitle}}" title="{{episode.imageTitle}}" class="img-rounded img-responsive" />
                <img ng-if="!episode.imageUrl" data-src="holder.js/350x350/auto/industrial/text:no image" class="img-rounded img-responsive" holder-fix />
            </a>

            <div>
                <button type="button" data-ng-click="restore();" ng-if="!userEpisode.updated" class="btn btn-lg btn-labeled btn-success">
                    <span class="btn-label"><i class="glyphicon glyphicon-plus"></i></span>Add
                </button>
                <button type="button" data-ng-click="restore();" ng-if="userEpisode.updated && userEpisode.archived" class="btn btn-lg btn-labeled btn-success">
                    <span class="btn-label"><i class="glyphicon glyphicon-bookmark"></i></span>Restore
                </button>
                <button type="button" data-ng-click="archive();" ng-if="userEpisode.updated && !userEpisode.archived" class="btn btn-lg btn-labeled btn-danger">
                    <span class="btn-label"><i class="glyphicon glyphicon-bookmark"></i></span>Archive
                </button>

                <button type="button" data-ng-click="star();" ng-if="!userEpisode.starred" class="btn btn-lg btn-labeled btn-success">
                    <span class="btn-label"><i class="glyphicon glyphicon-star"></i></span>Star
                </button>
                <button type="button" data-ng-click="unstar();" ng-if="userEpisode.starred" class="btn btn-lg btn-labeled btn-danger">
                    <span class="btn-label"><i class="glyphicon glyphicon-star"></i></span>Unstar
                </button>
            </div>

            <div>
                <div class="ui-group-buttons">
                    <a href="javascript:void(0)" ng-if="userEpisode.rating==1" data-ng-click="unrate();" class="btn btn-success btn-lg selected" role="button"><span class="glyphicon glyphicon-thumbs-up"></span></a>
                    <a href="javascript:void(0)" ng-if="userEpisode.rating!=1" data-ng-click="like();" class="btn btn-success btn-lg" role="button"><span class="glyphicon glyphicon-thumbs-up"></span></a>
                    <div class="or or-lg"></div>
                    <a href="javascript:void(0)" ng-if="userEpisode.rating==-1" data-ng-click="unrate();" class="btn btn-danger btn-lg selected" role="button"><span class="glyphicon glyphicon-thumbs-down"></span></a>
                    <a href="javascript:void(0)" ng-if="userEpisode.rating!=-1" data-ng-click="dislike();" class="btn btn-danger btn-lg" role="button"><span class="glyphicon glyphicon-thumbs-down"></span></a>
                </div>

                <a href="{{ episode.enclosureUrl }}" title="{{ episode.title }}">
                    <button type="button" class="btn btn-lg btn-labeled btn-success">
                        <span class="btn-label"><i class="glyphicon glyphicon-download-alt"></i></span>Download
                    </button>
                </a>
            </div>

            <h3>Info</h3>
            <span>Published: {{episode.published | date:'yyyy-MM-dd'}}</span>
            <br /><br />
            <span ng-if="episode.ownerName">Owner: <a href="mailto:{{episode.ownerEmail}}" title="{{episode.ownerName}}">{{episode.ownerName}}</a></span>
            <h4>Links</h4>
            <ul>
            </ul>
            <h4>Tools</h4>
            <div class="tools">
            </div>
        </div>
        <div class="col-md-8">
            <ol class="breadcrumb">
                <li><a href="/#!/">Home</a></li>
                <li><a href="/#!/podcasts/{{ episode.podcast._id }}">{{ episode.podcast.title }}</a></li>
                <li class="active">Episode</li>
            </ol>

            <div class="page-header">
                <h1>{{episode.title}} <small ng-if="episode.author">{{episode.author}}</small></h1>
            </div>
            <div class="alert alert-info" ng-if="episode.closedcaptioned">
                <strong>Closed Captioned</strong> This episode is closed captioned
            </div>
            <div class="alert alert-warning" ng-if="episode.explicit">
                <strong>Explicit</strong> Parental advisory
            </div>
            <div class="panel panel-default" ng-if="episode.description">
                <div class="panel-body">
                    {{episode.description}}
                </div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</section>